@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  background-color:  #37474f;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.top{
  z-index: 17;
  position:fixed;
  font-family: 'Fira Sans Condensed', sans-serif;
  width:100%;
  margin-left: -10px;
  margin-top: -10px;
  margin-right: -10px;
  height: 90px;
  background-color:   #304ffe;
}
.centered{
  margin-left: auto;
  margin-right: auto;
  max-width:700;
}
.title{
  float:left;
  color:white;
  font-size:35px;
  font-style:italic;
  font-weight: bold;
  padding:none;
  text-shadow: 1px 0px 5px  #000;
}
.opts{
  float:left;
  width:400px;
  height: 90px;
  margin-left: 120px;
}
.opt{
  float:left;
  max-width:170px;
  height: 90px;
  margin-left: px;
}
.opt a{
  text-decoration: none;
}
.links{
  color:#fafafa;
  font-size:20px;
  margin-top: 50px;
  margin-left: 60px;
  transition-duration: 1s;
}
.opt:hover{
  text-shadow: 0px 0px 10px #fff;
}

#boxA{
  z-index: -4;
  widht:105%;
  position: relative;
  margin-top: 60px;
  margin-right: -10px;
  margin-left: -10px;
  position:fixed;
  background-image: url("./code.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color:#fff;
  height:500px;

}
#opacity{
/*background-color: #37474f;
opacity: 0.8;*/
background: rgba(0,0,0,0.8);
z-index: -1;
height: 500px;
}
#contentA{
  width:700px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  z-index: 50;
  margin-top: -500px;

}
#titleP{
	color:white;
	font-size:35px;
	font-family: 'Roboto', sans-serif;
	font-weight:bold;
  z-index: 5;
}
#allig{
  text-align: right;
}
#expla{
	width:500px;
	font-size:18;
	word-spacing:1px;
	line-height:30px;
	font-family: 'Roboto', sans-serif;
	margin-left:200px;
	color:#ffffff;
	font-size:17px:
  text-align:right;


}
#try{
  text-align: left;
	font-family: 'Roboto', sans-serif;
  z-index: 80;
  font-size: 18;
  width:500px;
  word-spacing: 1px;
  line-height: 30px;
  color:#fff;
}
#keras{
  color:rgba(255,0,0,1  );
  text-decoration: none;
}
#tflearn{
  color:#2196f3;
}
/*** Box B***/
#boxB{
  background-color:#37474f;
  z-index: -1;
  widht:105%;
  margin-left: auto;

  margin-right: -10px;
  margin-left: -10px;
	margin-top:20px;
  margin-bottom:-50px;
  height:500px;
}
#contentB{
  width:700px;
  height: 230px;
  margin-left: auto;
  margin-right: auto;

}
#gititle{
  margin-left: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 27;
  color:#fff;
}
#github{
  width:200px;
  float:left;
}
#allig2{
  text-align: right;
  float:right;
}
#lateral{
  width:400px;
  font-size:18;
  word-spacing:1px;
  line-height:30px;
  font-family: 'Roboto', sans-serif;
  color:#ffffff;
  font-size:17px:

}

.foter{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width:200px;
}
.footer p{
  font-size:11px;
  font-family: 'Roboto', sans-serif;
  color:#ffffff;
}
